/* Import FONTS */
@font-face {
    src: url(Fonts/PressStart2P-Regular.ttf);
    font-family: pressStart;
}
@font-face{
    src: url(Fonts/Jua-Regular.ttf);
    font-family: jua;
}
@font-face{
    src: url(Fonts/PTSansCaption-Regular.ttf);
    font-family: sans;
}


/* FOUND A BUG BUTTON */
.left{
    font-size: 0.8vw;
    font-family: sans;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.14556040756914118vh solid black;
    width: 6.7vw;
    height: 5.385735080058224vh; 
    background-color: #e3adb7;
    box-shadow: 0.727802037845706vh 0.727802037845706vh rgb(0, 0, 0, 0.75);
    margin-left: 2.436681vh;
    /* margin-top: -8.733624454148472vh; */
    cursor: pointer;
    z-index: 98;
    transition: 0.25s;
    position: relative;
    bottom: 6vh;
    top: -3.4vh;
}
.left:hover{
    transform:translate(0.727802037845706vh,0.727802037845706vh);
    box-shadow: none;
}
.left:hover + .right{
    transform: translate(-0.727802037845706vh,-0.727802037845706vh);
    box-shadow: 0.727802037845706vh 0.727802037845706vh rgb(0, 0, 0, 0.75);
}

@media only screen and (max-width:1700px) {

    .left{
        font-size: 0.8vw;
        width: 6.7vw;
        height: 5.385735080058224vh; 
        margin-left: 0.4366812227074236vh;
        /* margin-top: -10.949054vh;  */
        position: relative;
        bottom: 6vh;
        top: -4vh;
    }

}

@media only screen and (max-width:1400px) {

    .left{
        font-size: 0.8vw;
        width: 6.7vw;
        height: 5.385735080058224vh; 
        margin-left: 2.436681vh;
        /* margin-top: -10.733624vh;  */
        position: relative;
    bottom: 6vh;
    top: -4.5vh;
    }
  
}

@media only screen and (max-width:1000px){
    .left{
        font-size: 1.2vw;
        width: 9.7vw;
        height: 4.385735vh; 
        margin-left: 2.436681vh;
        position: relative;
        bottom: 6vh;
        top: -4.2vh
        /* margin-top: -7.733624vh;  */
    }
}

